

/*Navigation Section*/
.navbar {
    padding: 0 10%;
}

/*Top Section*/
#top-section {
    background-color: #dfe5ee;
    padding: 3% 0;
}

.container {
    text-align: center;
    position: relative;
}

.container.title {
    width: 200px;
    position: absolute;
    top: 30%;
    left: 6%;
    text-align: left;
}

.top-img {
    box-shadow: 0px 0px 31px 7px rgba(185,206,235,1);
    border-radius: 1%;
}

/*About us Section*/

#gallery {
    text-align: center;
    background-color: #dfe5ee;
}

/*Gallery Section*/

/*Contacts Section*/

/*Footer Section*/
#footer {
    text-align: center;
    background-color: #dfe5ee;
}