body {
    font-family: 'Cambay', sans-serif;
}

/*Navigation Section*/
header {
    background-color: #dfe5ee;
}
.navbar {
    padding: 3% 13.5% 1%;
}
.navbar-light .navbar-brand {
    color: #87a8d0;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-item {
    margin-left: 30px;
}
.navbar-light .navbar-brand:hover {
    color: #87a8d0;
}
.navbar-light .navbar-nav .nav-link {
    color: #87a8d0;
    font-size: 1.2rem;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #574f7d;
}

/*Top Section*/
#top-section {
    padding: 2% 0 4%;
    background-color: #dfe5ee;
}

.img-fluid {
    width: 100%;
    border-radius: 1%;
    box-shadow: 0 0 20px 2px rgba(185,206,235,1);
}

.top-title {
    font-size: 5rem;
    color: #574f7d;
    padding-top: 6%;
    font-weight: bold;
}

@media (max-width: 1199px) {
    .top-title {
        text-align: center;
        font-size: 4.7rem;
    }
}
/*About us Section*/
#about-us {
    padding: 0 20%;
}
.about-us-info{
    font-size: 1.3rem;
    line-height: 2;
    text-align: justify;
}
.heading-about-us {
    text-align: center;
    color: #87a8d0;
    font-weight: 700;
}
hr {
    width: 80%;
    margin: 80px auto;
    border-style: none;
    border-bottom: 2px solid #e1e6ec;
    border-radius: 5%;
}

/*Gallery Section*/
#gallery {
    background-color: #dfe5ee;
    box-shadow: 0 0 20px 2px rgba(185,206,235,1);
}
.heading-gallery  {
    text-align: center;
    color: #574f7d;
    font-weight: 700;
    padding: 1% 0 0 0;
}
.carousel-control-prev {
    left: -20%;
}
.carousel-control-next {
    right: -20%;
}
#carouselExampleIndicators {
    width: 80%;
    margin: 0 auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 25%;
    height: 25%;
}

/*Contacts Section*/
#contacts {
    text-align: center;
    padding: 7% 0;
}
.card {
    padding: 0 0 5%;
    border-style: none;
    border-left: 2px solid #e1e6ec;
}
.card-contact {
    margin: 3% 0;
}
.card-text {
    text-align: left;
    font-size: 1.5rem;
}
.card-title {
    color: #87a8d0;
    font-size: 1.5rem;
    font-weight: bold;
}
.heading-contacts {
    color: #87a8d0;
    font-weight: 700;
}
/*Footer Section*/
#footer {
    text-align: center;
    background-color: #dfe5ee;
    padding: 3% 0;
    line-height: 3;
    font-size: 1.2rem;
}
.copyright {
    margin-bottom: 0;
    color: #574f7d;
}
.foot-link {
    margin: 0 1%;
    color: #574f7d;
}
.foot-link:hover {
    color: #87a8d0;
}